@font-face {
  font-family: 'Helvetica';
  src: url("../fonts/Helvetica.ttf");
}

@font-face {
  font-family: 'HelveticaBold';
  src: url("../fonts/Helvetica-Bold.ttf");
}

@font-face {
  font-family: 'Herculanum';
  src: url("../fonts/Herculanum-Regular.ttf");
}

:root {
  --color_white: #FFFFFF;
  --color_litegreen: #B0EDA9;
  --color_green: #3B9B31;
  --color_darkgreen: #165D13;
  --color_litepurple: #AE75F7;
  --color_purple: #9543FF;
  --color_pink: #F6D1FF;
  --color_litepink: #FCEFFF;
  --color_liteblue: #E8EDFF;
  --color_blue: #3268FC;
  --color_liteblack: #141414;
  --color_black: #000000;
  --font1: 'Helvetica', sans-serif;
  --font2: 'HelveticaBold', sans-serif;
  --font3: 'Herculanum', sans-serif;
}

* {
  margin: 0;
  padding: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

html {
  font-size: 16px;
  scroll-behavior: smooth;
}

@media (max-width: 575.98px) {
  html {
    font-size: 12px;
  }
}

@media (min-width: 576px) and (max-width: 767.98px) {
  html {
    font-size: 12px;
  }
}

@media (min-width: 768px) and (max-width: 991.98px) {
  html {
    font-size: 12px;
  }
}

@media (min-width: 992px) and (max-width: 1299.98px) {
  html {
    font-size: 12px;
  }
}

@media (min-width: 1300px) and (max-width: 1531.98px) {
  html {
    font-size: 13px;
  }
}

body {
  font-family: var(--font1);
  background-color: var(--color_white);
  color: var(--color_liteblack);
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  -webkit-transition: all 0.3s ease-in-out;
  transition: all 0.3s ease-in-out;
}

h1, h2, h3, h4, h5, h6, p {
  margin: 0;
  padding: 0;
}

ul {
  margin: 0;
  padding: 0;
  list-style: none;
}

a {
  margin: 0;
  text-decoration: none;
}

a:hover {
  text-decoration: none;
}

a, select, input, textarea, button {
  outline: none !important;
}

.btn:focus, .btn.focus, .form-control:focus {
  outline: 0;
  -webkit-box-shadow: none;
          box-shadow: none;
}

.btn-link:focus, .btn-link.focus {
  text-decoration: none;
}

/*fonts*/
.reg--40 {
  font-size: 2.5rem;
  font-weight: 500;
}

.reg--55 {
  font-size: 3.4375rem;
  font-weight: 500;
}

.reg--36 {
  font-size: 2.25rem;
  font-weight: 500;
}

.bold--18 {
  font-family: var(--font2);
  font-size: 1.125rem;
  font-weight: 700;
}

.bold--22 {
  font-family: var(--font2);
  font-size: 1.375rem;
  font-weight: 700;
}

.bold--32 {
  font-family: var(--font2);
  font-size: 2rem;
  font-weight: 700;
}

.bold--34 {
  font-family: var(--font2);
  font-size: 2.125rem;
  font-weight: 700;
}

.bold--36 {
  font-family: var(--font2);
  font-size: 2.25rem;
  font-weight: 700;
}

.bold--50 {
  font-family: var(--font2);
  font-size: 3.125rem;
  font-weight: 700;
}

.bold--40 {
  font-family: var(--font2);
  font-size: 2.5rem;
  font-weight: 700;
}

.bold--43 {
  font-family: var(--font2);
  font-size: 2.6875rem;
  font-weight: 700;
}

.bold--56 {
  font-family: var(--font2);
  font-size: 3.5rem;
  font-weight: 700;
}

.bold--80 {
  font-family: var(--font2);
  font-size: 5rem;
  font-weight: 700;
}

.btn-1 {
  font-family: Arial, Helvetica, sans-serif;
  font-weight: 900;
}

.c--custom {
  padding: 0 6rem;
}

/* header starts */
.header .header--nav .navbar-brand {
  color: var(--color_liteblack);
}

.header .header--nav .menu {
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  width: 70%;
}

.header .header--nav .menu li a {
  color: var(--color_liteblack);
}

.header .header--nav .menu li:last-child {
  text-decoration: none;
  padding: 0.1rem 2rem;
  cursor: pointer;
  -webkit-box-shadow: 0 0.4rem 0 0 #7FC677;
          box-shadow: 0 0.4rem 0 0 #7FC677;
  border: 0.125rem solid #7FC677;
  border-radius: .5rem;
}

.header .header--nav .menu li:last-child a {
  color: #5A5757;
}

.hero .hero--content {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  min-height: 50rem;
}

.hero .hero--content .left {
  width: 50%;
}

.hero .hero--content .left h1 {
  margin-bottom: 5rem;
}

.hero .hero--content .left a {
  color: var(--color_black);
  text-decoration: none;
  padding: 0.625rem 13.75rem;
  cursor: pointer;
  -webkit-box-shadow: 0 0.9375rem 0 0 #3b3b3b;
          box-shadow: 0 0.9375rem 0 0 #3b3b3b;
  border: 0.3125rem solid #3b3b3b;
  border-radius: 1rem;
}

.hero .hero--content .right {
  width: 50%;
}

.hero .hero--content .right img {
  width: 36rem;
}
/*# sourceMappingURL=style.css.map */