@font-face {
  font-family: 'Helvetica';
  src: url("../fonts/Helvetica.ttf");
}

@font-face {
  font-family: 'HelveticaBold';
  src: url("../fonts/Helvetica-Bold.ttf");
}

@font-face {
  font-family: 'Herculanum';
  src: url("../fonts/Herculanum-Regular.ttf");
}

@font-face {
  font-family: 'Beirut';
  src: url("../fonts/Beirut.ttf");
}

:root {
  --color_white: #FFFFFF;
  --color_litegreen: #B0EDA9;
  --color_green: #3B9B31;
  --color_darkgreen: #165D13;
  --color_litepurple: #AE75F7;
  --color_purple: #9543FF;
  --color_pink: #F6D1FF;
  --color_litepink: #FCEFFF;
  --color_liteblue: #E8EDFF;
  --color_blue: #3268FC;
  --color_liteblack: #141414;
  --color_black: #000000;
  --font1: 'Helvetica', sans-serif;
  --font2: 'HelveticaBold', sans-serif;
  --font3: 'Herculanum', sans-serif;
  --font4: 'Beirut', sans-serif;
}

* {
  margin: 0;
  padding: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

html {
  font-size: 16px;
  scroll-behavior: smooth;
}

@media (max-width: 575.98px) {
  html {
    font-size: 12px;
  }
}

@media (min-width: 576px) and (max-width: 767.98px) {
  html {
    font-size: 12px;
  }
}

@media (min-width: 768px) and (max-width: 991.98px) {
  html {
    font-size: 12px;
  }
}

@media (min-width: 992px) and (max-width: 1299.98px) {
  html {
    font-size: 12px;
  }
}

@media (min-width: 1300px) and (max-width: 1531.98px) {
  html {
    font-size: 12px;
  }
}

@media (min-width: 1300px) and (max-width: 1531.98px) {
  html {
    font-size: 12px;
  }
}

body {
  font-family: var(--font1);
  background-color: var(--color_white);
  color: var(--color_liteblack);
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  -webkit-transition: all 0.3s ease-in-out;
  transition: all 0.3s ease-in-out;
}

h1, h2, h3, h4, h5, h6, p {
  margin: 0;
  padding: 0;
}

ul {
  margin: 0;
  padding: 0;
  list-style: none;
}

a {
  margin: 0;
  text-decoration: none;
}

a:hover {
  text-decoration: none;
}

a, select, input, textarea, button {
  outline: none !important;
}

.btn:focus, .btn.focus, .form-control:focus {
  outline: 0;
  -webkit-box-shadow: none;
          box-shadow: none;
}

.btn-link:focus, .btn-link.focus {
  text-decoration: none;
}

/*fonts*/
.reg--36 {
  font-size: 2.25rem;
  font-weight: 500;
}

@media (max-width: 575.98px) {
  .reg--36 {
    font-size: 2rem;
  }
}

.reg--40 {
  font-size: 2.5rem;
  font-weight: 500;
}

.reg--55 {
  font-size: 3.4375rem;
  font-weight: 500;
}

@media (max-width: 575.98px) {
  .reg--55 {
    font-size: 1.75rem;
  }
}

@media (max-width: 320px) {
  .reg--55 {
    font-size: 1.5rem;
  }
}

@media (min-width: 321px) and (max-width: 376px) {
  .reg--55 {
    font-size: 1.5rem;
  }
}

@media (min-width: 992px) and (max-width: 1299.98px) {
  .reg--55 {
    font-size: 3rem;
  }
}

.bold--18 {
  font-family: var(--font2);
  font-size: 1.125rem;
  font-weight: 700;
}

.bold--20 {
  font-family: var(--font2);
  font-size: 1.25rem;
  font-weight: 700;
}

.bold--22 {
  font-family: var(--font2);
  font-size: 1.375rem;
  font-weight: 700;
}

@media (max-width: 575.98px) {
  .bold--22 {
    font-size: 1rem;
  }
}

@media (min-width: 992px) and (max-width: 1299.98px) {
  .bold--22 {
    font-size: 1rem;
  }
}

.bold--32 {
  font-family: var(--font2);
  font-size: 2rem;
  font-weight: 700;
}

@media (max-width: 575.98px) {
  .bold--32 {
    font-size: 1.5rem;
  }
}

@media (min-width: 992px) and (max-width: 1299.98px) {
  .bold--32 {
    font-size: 1.5rem;
  }
}

.bold--34 {
  font-family: var(--font2);
  font-size: 2.125rem;
  font-weight: 700;
}

@media (max-width: 575.98px) {
  .bold--34 {
    font-size: 1.4rem;
  }
}

@media (min-width: 992px) and (max-width: 1299.98px) {
  .bold--34 {
    font-size: 1.5rem;
  }
}

.bold--36 {
  font-family: var(--font2);
  font-size: 2.25rem;
  font-weight: 700;
}

@media (max-width: 575.98px) {
  .bold--36 {
    font-size: 1.5rem;
  }
}

@media (min-width: 992px) and (max-width: 1299.98px) {
  .bold--36 {
    font-size: 1.5rem;
  }
}

.bold--50 {
  font-family: var(--font2);
  font-size: 3.125rem;
  font-weight: 700;
}

.bold--40 {
  font-family: var(--font2);
  font-size: 2.5rem;
  font-weight: 700;
}

@media (max-width: 575.98px) {
  .bold--40 {
    font-size: 1.5rem;
  }
}

.bold--43 {
  font-family: var(--font2);
  font-size: 2.6875rem;
  font-weight: 700;
}

@media (max-width: 575.98px) {
  .bold--43 {
    font-size: 2rem;
  }
}

.bold--56 {
  font-family: var(--font2);
  font-size: 3.5rem;
  font-weight: 700;
}

@media (max-width: 575.98px) {
  .bold--56 {
    font-size: 3rem;
  }
}

@media (min-width: 992px) and (max-width: 1299.98px) {
  .bold--56 {
    font-size: 2.5rem;
  }
}

.bold--80 {
  font-family: var(--font2);
  font-size: 5rem;
  font-weight: 700;
}

@media (max-width: 575.98px) {
  .bold--80 {
    font-size: 2.5rem;
  }
}

@media (min-width: 992px) and (max-width: 1299.98px) {
  .bold--80 {
    font-size: 3.5rem;
  }
}

@media (max-width: 320px) {
  .bold--80 {
    font-size: 2rem;
  }
}

.btn--1 {
  font-family: Arial, Helvetica, sans-serif;
  font-weight: 900;
  text-decoration: none;
  cursor: pointer;
}

.c--custom {
  padding: 0 6rem;
}

@media (max-width: 575.98px) {
  .c--custom {
    padding: 0 1.5rem;
  }
}

@media (max-width: 320px) {
  .c--custom {
    padding: 0 1rem;
  }
}

@media (min-width: 992px) and (max-width: 1299.98px) {
  .c--custom {
    padding: 0 3rem;
  }
}

.header .header--nav .navbar-brand {
  color: var(--color_liteblack);
}

.header .header--nav .menu {
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  width: 70%;
}

@media (max-width: 1299.98px) {
  .header .header--nav .menu {
    width: 100%;
  }
}

.header .header--nav .menu li a {
  color: #4D4D4D;
}

@media (min-width: 992px) and (max-width: 1299.98px) {
  .header .header--nav .menu li a {
    font-size: 1.2rem;
  }
}

.header .header--nav .menu li:last-child {
  padding: 0.1rem 2rem;
  -webkit-box-shadow: 0 0.4rem 0 0 #7FC677;
          box-shadow: 0 0.4rem 0 0 #7FC677;
  border: 0.125rem solid #7FC677;
  border-radius: .5rem;
}

@media (max-width: 575.98px) {
  .header .header--nav .menu li:last-child {
    width: 50%;
    text-align: center;
    margin: 0 auto;
  }
}

@media (max-width: 320px) {
  .header .header--nav .menu li:last-child {
    width: 65%;
  }
}

@media (min-width: 321px) and (max-width: 376px) {
  .header .header--nav .menu li:last-child {
    width: 60%;
  }
}

@media (min-width: 576px) and (max-width: 767.98px) {
  .header .header--nav .menu li:last-child {
    width: 30%;
    text-align: center;
    margin: 0 auto;
  }
}

@media (min-width: 768px) and (max-width: 991.98px) {
  .header .header--nav .menu li:last-child {
    width: 30%;
    text-align: center;
    margin: 0 auto;
  }
}

.header .header--nav .menu li:last-child a {
  color: #5A5757;
}

@media (min-width: 992px) and (max-width: 1299.98px) {
  .header .header--nav .menu li:last-child a {
    font-size: 1rem;
  }
}

.hero .hero--content {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  min-height: 50rem;
}

@media (max-width: 575.98px) {
  .hero .hero--content {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    min-height: auto;
  }
}

@media (min-width: 576px) and (max-width: 767.98px) {
  .hero .hero--content {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
}

@media (min-width: 768px) and (max-width: 991.98px) {
  .hero .hero--content {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
}

@media (min-width: 992px) and (max-width: 1299.98px) {
  .hero .hero--content {
    min-height: 45rem;
  }
}

.hero .hero--content .left {
  width: 50%;
}

@media (max-width: 575.98px) {
  .hero .hero--content .left {
    width: 100%;
    text-align: center;
    padding: 5rem 0;
  }
}

@media (min-width: 576px) and (max-width: 767.98px) {
  .hero .hero--content .left {
    width: 100%;
    text-align: center;
    padding: 5rem 0;
  }
}

@media (min-width: 768px) and (max-width: 991.98px) {
  .hero .hero--content .left {
    width: 100%;
    text-align: center;
    padding: 5rem 0;
  }
}

.hero .hero--content .left h1 {
  margin-bottom: 5rem;
}

@media (max-width: 575.98px) {
  .hero .hero--content .left h1 {
    margin-bottom: 3rem;
  }
}

.hero .hero--content .left a {
  color: var(--color_black);
  padding: 0.625rem 12rem;
  -webkit-box-shadow: 0 0.9375rem 0 0 #3b3b3b;
          box-shadow: 0 0.9375rem 0 0 #3b3b3b;
  border: 0.3125rem solid #3b3b3b;
  border-radius: 1rem;
}

@media (max-width: 575.98px) {
  .hero .hero--content .left a {
    padding: 0.45rem 3rem;
    -webkit-box-shadow: 0 0.5rem 0 0 #3b3b3b;
            box-shadow: 0 0.5rem 0 0 #3b3b3b;
  }
}

@media (min-width: 992px) and (max-width: 1299.98px) {
  .hero .hero--content .left a {
    padding: 0.625rem 6rem;
  }
}

.hero .hero--content .right {
  width: 50%;
}

@media (max-width: 575.98px) {
  .hero .hero--content .right {
    width: 100%;
    text-align: center;
  }
}

@media (min-width: 576px) and (max-width: 767.98px) {
  .hero .hero--content .right {
    width: 100%;
    text-align: center;
  }
}

@media (min-width: 768px) and (max-width: 991.98px) {
  .hero .hero--content .right {
    width: 100%;
    text-align: center;
  }
}

.hero .hero--content .right img {
  width: 36rem;
}

@media (max-width: 575.98px) {
  .hero .hero--content .right img {
    width: 80%;
  }
}

.feature {
  margin-top: 10rem;
}

.feature .feature--card {
  padding-right: 5rem;
  border-radius: 1.75rem;
}

@media (max-width: 575.98px) {
  .feature .feature--card {
    padding-right: 3rem;
  }
}

.feature .card--green {
  background-color: #A3E89B;
}

.feature .card--green .green--text {
  padding: 3.5rem 0 3.5rem 5rem;
}

@media (max-width: 575.98px) {
  .feature .card--green .green--text {
    padding: 3.5rem 0 3.5rem 3rem;
  }
}

.feature .card--green .green--text h2, .feature .card--green .green--text p {
  color: #377932;
}

.feature .card--blue {
  background-color: #B2C3F2;
}

.feature .card--blue .blue--text {
  padding: 1rem 0 1.5rem 5rem;
}

@media (max-width: 575.98px) {
  .feature .card--blue .blue--text {
    padding: 3.5rem 0 3.5rem 3rem;
  }
}

.feature .card--blue .blue--text h2, .feature .card--blue .blue--text p {
  color: #3268FB;
}

.feature .card--purple {
  background-color: #D1B5F5;
}

.feature .card--purple .purple--text {
  padding: 1rem 0 1.5rem 5rem;
}

@media (max-width: 575.98px) {
  .feature .card--purple .purple--text {
    padding: 3.5rem 0 3.5rem 3rem;
  }
}

.feature .card--purple .purple--text h2, .feature .card--purple .purple--text p {
  color: #9543FF;
}

.getapps {
  margin-top: 15rem;
}

@media (max-width: 991.98px) {
  .getapps {
    margin-top: 10rem;
  }
}

@media (min-width: 992px) and (max-width: 1299.98px) {
  .getapps {
    margin-top: 12rem;
  }
}

.getapps a {
  color: var(--color_black);
  padding: 0.625rem 4.5rem;
  -webkit-box-shadow: 0 0.75rem 0 0 #3b3b3b;
          box-shadow: 0 0.75rem 0 0 #3b3b3b;
  border: 0.3125rem solid #3b3b3b;
  border-radius: 1rem;
}

.getapps .getapps--left {
  padding: 0 0 7rem 7rem;
}

@media (max-width: 575.98px) {
  .getapps .getapps--left {
    padding: 0 0 5rem 0;
    text-align: center;
  }
}

@media (min-width: 576px) and (max-width: 991.98px) {
  .getapps .getapps--left {
    padding: 0 0 7rem 0;
    text-align: center;
  }
}

.getapps .getapps--right {
  padding-top: 10rem;
}

@media (max-width: 575.98px) {
  .getapps .getapps--right {
    padding-top: 1rem;
    text-align: center;
  }
}

@media (min-width: 576px) and (max-width: 991.98px) {
  .getapps .getapps--right {
    padding-top: 3rem;
    text-align: center;
  }
}

.getapps hr {
  position: relative;
  left: 0;
  right: 0;
  margin-left: auto;
  margin-right: auto;
  border-top: 2px solid #707070;
  height: 2rem;
  width: 35rem;
  -webkit-transform: rotate(-30deg);
          transform: rotate(-30deg);
}

@media (max-width: 575.98px) {
  .getapps hr {
    width: 20rem;
  }
}

@media (max-width: 991.98px) {
  .getapps hr {
    -webkit-transform: rotate(0deg);
            transform: rotate(0deg);
  }
}

.more {
  margin-top: 20rem;
}

.more .feature--card {
  min-height: 45rem;
  padding: 2rem;
  border-radius: 1.75rem;
}

@media (max-width: 575.98px) {
  .more .feature--card {
    padding: 1.5rem;
    min-height: auto;
  }
}

.more .card--purple {
  background-color: #D1B5F5;
}

.more .card--purple .purple--text h2, .more .card--purple .purple--text p, .more .card--purple .purple--text h3 {
  color: #9543FF;
}

.more .card--blue {
  background-color: #B2C3F2;
}

.more .card--blue .blue--text h2, .more .card--blue .blue--text p, .more .card--blue .blue--text h3 {
  color: #3268FC;
}

.more .card--green {
  background-color: #B0EDA9;
}

.more .card--green .green--text h2, .more .card--green .green--text p, .more .card--green .green--text h3 {
  color: #165D13;
}

.try {
  margin-top: 15rem;
}

@media (max-width: 575.98px) {
  .try {
    margin-top: 10rem;
  }
}

.try .try--content {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

@media (max-width: 575.98px) {
  .try .try--content {
    width: 100%;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
}

@media (min-width: 576px) and (max-width: 767.98px) {
  .try .try--content {
    width: 100%;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
}

@media (min-width: 768px) and (max-width: 991.98px) {
  .try .try--content {
    width: 100%;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
}

.try .try--content .try--card {
  width: 25%;
  color: #3268FC;
  padding: 3rem 1rem;
  background-color: #E8EDFF;
  -webkit-box-shadow: 0 0.75rem 0 0 #3164EA;
          box-shadow: 0 0.75rem 0 0 #3164EA;
  border: 0.3125rem solid #3164EA;
  border-radius: 1rem;
}

@media (max-width: 575.98px) {
  .try .try--content .try--card {
    width: 100%;
  }
}

@media (min-width: 576px) and (max-width: 767.98px) {
  .try .try--content .try--card {
    width: 100%;
  }
}

@media (min-width: 768px) and (max-width: 991.98px) {
  .try .try--content .try--card {
    width: 100%;
  }
}

.try .try--content .try--card h2 {
  font-size: 5.5rem;
}

@media (min-width: 992px) and (max-width: 1299.98px) {
  .try .try--content .try--card ul li {
    font-size: 1.5rem;
  }
}

.try .try--content .try--text {
  width: 75%;
}

@media (max-width: 575.98px) {
  .try .try--content .try--text {
    width: 100%;
    margin-top: 3rem;
  }
}

@media (min-width: 576px) and (max-width: 767.98px) {
  .try .try--content .try--text {
    width: 100%;
    margin-top: 3rem;
  }
}

@media (min-width: 768px) and (max-width: 991.98px) {
  .try .try--content .try--text {
    width: 100%;
    margin-top: 3rem;
  }
}

.try .try--content .try--text ul {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.try .try--content .try--text ul li {
  background-color: #F6D1FF;
  padding: .5rem 1rem;
  border-radius: 1rem;
  -webkit-text-stroke-width: 0.0625rem;
  -webkit-text-stroke-color: #707070;
}

@media (max-width: 575.98px) {
  .try .try--content .try--text ul li {
    font-size: 1.5rem;
  }
}

@media (min-width: 992px) and (max-width: 1299.98px) {
  .try .try--content .try--text ul li {
    font-size: 1.5rem;
  }
}

.try .try--content .try--text ul li:nth-child(odd) {
  background-color: #CEF5C9;
}

.try .try--content .try--text .try--button a {
  color: var(--color_black);
  padding: 0.625rem 12rem;
  -webkit-box-shadow: 0 0.75rem 0 0 #3b3b3b;
          box-shadow: 0 0.75rem 0 0 #3b3b3b;
  border: 0.3125rem solid #3b3b3b;
  border-radius: 1rem;
}

@media (max-width: 575.98px) {
  .try .try--content .try--text .try--button a {
    padding: 0.625rem 5rem;
  }
}

@media (min-width: 992px) and (max-width: 1299.98px) {
  .try .try--content .try--text .try--button a {
    font-size: 1.2rem;
  }
}

.components {
  margin-top: 15rem;
}

.components .feature--card {
  border-radius: 2.25rem;
}

.components .card--green {
  background-color: #F2FFF2;
  border: 0.3125rem solid #A4E39D;
}

.components .card--green .green--text {
  padding: 6rem 2rem;
}

.components .card--green .green--text h2, .components .card--green .green--text p {
  color: #3DA530;
}

.components .card--green .green--mini {
  padding: 3rem 2rem;
}

.components .card--green img {
  border-top-left-radius: 2rem;
  border-top-right-radius: 2rem;
}

.components .card--blue {
  background-color: #E8EDFF;
  border: 0.3125rem solid #90A6E3;
}

.components .card--blue .blue--text {
  padding: 2.5rem 2rem;
}

@media (min-width: 992px) and (max-width: 1299.98px) {
  .components .card--blue .blue--text {
    padding: 3rem 2rem;
  }
}

.components .card--blue .blue--text h2, .components .card--blue .blue--text p {
  color: #3268FC;
}

.components .card--blue img {
  border-bottom-left-radius: 2rem;
  border-bottom-right-radius: 2rem;
}

.components .card--purple {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  background-color: #FCEFFF;
  border: 0.3125rem solid #DBBFFF;
}

@media (max-width: 575.98px) {
  .components .card--purple {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
}

@media (min-width: 576px) and (max-width: 767.98px) {
  .components .card--purple {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
}

@media (min-width: 768px) and (max-width: 991.98px) {
  .components .card--purple {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
}

.components .card--purple .purple--img {
  width: 40%;
}

@media (max-width: 575.98px) {
  .components .card--purple .purple--img {
    width: 100%;
  }
}

@media (min-width: 576px) and (max-width: 767.98px) {
  .components .card--purple .purple--img {
    width: 100%;
  }
}

@media (min-width: 768px) and (max-width: 991.98px) {
  .components .card--purple .purple--img {
    width: 100%;
  }
}

.components .card--purple .purple--img img {
  border-top-left-radius: 2rem;
  border-bottom-left-radius: 2rem;
}

@media (max-width: 575.98px) {
  .components .card--purple .purple--img img {
    width: 100%;
  }
}

@media (min-width: 576px) and (max-width: 767.98px) {
  .components .card--purple .purple--img img {
    width: 100%;
  }
}

@media (min-width: 768px) and (max-width: 991.98px) {
  .components .card--purple .purple--img img {
    border-top-left-radius: 2rem;
    border-bottom-left-radius: 0;
    border-top-right-radius: 2rem;
  }
}

.components .card--purple .purple--text {
  width: 60%;
  padding: 3rem 2rem;
}

@media (max-width: 575.98px) {
  .components .card--purple .purple--text {
    width: 100%;
  }
}

@media (min-width: 576px) and (max-width: 767.98px) {
  .components .card--purple .purple--text {
    width: 100%;
  }
}

@media (min-width: 768px) and (max-width: 991.98px) {
  .components .card--purple .purple--text {
    width: 100%;
  }
}

.components .card--purple .purple--text h2, .components .card--purple .purple--text p {
  color: #AE75F7;
}

.appstore {
  margin-top: 15rem;
}

.appstore .nav-pills .nav-link {
  color: #7B7979;
}

@media (max-width: 575.98px) {
  .appstore .nav-pills .nav-link {
    font-size: 1.2rem;
  }
}

@media (min-width: 576px) and (max-width: 767.98px) {
  .appstore .nav-pills .nav-link {
    font-size: 1.5rem;
  }
}

@media (min-width: 768px) and (max-width: 991.98px) {
  .appstore .nav-pills .nav-link {
    font-size: 1.5rem;
  }
}

.appstore .nav-pills .nav-link.active {
  color: #191919;
  background-color: transparent;
}

.appstore .tab-content {
  background-color: #F0F0F0;
  border-radius: 1.75rem;
  min-height: 54rem;
}

.appstore .tab-content .content--inside {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  text-align: center;
}

.appstore .tab-content .content--inside .content--single {
  cursor: pointer;
}

.appstore .tab-content .content--inside .content--single img {
  padding: 1.5rem 2rem 1rem 2rem;
  width: 11rem;
}

@media (max-width: 575.98px) {
  .appstore .tab-content .content--inside .content--single img {
    padding: 1.5rem 1rem 1rem 1rem;
    width: 9rem;
  }
}

@media (min-width: 576px) and (max-width: 767.98px) {
  .appstore .tab-content .content--inside .content--single img {
    width: 10rem;
  }
}

@media (min-width: 768px) and (max-width: 991.98px) {
  .appstore .tab-content .content--inside .content--single img {
    width: 10rem;
  }
}

@media (min-width: 992px) and (max-width: 1299.98px) {
  .appstore .tab-content .content--inside .content--single img {
    width: 10.5rem;
  }
}

.appstore .tab-content .content--inside .content--single p {
  color: #211F1F;
}

@media (max-width: 575.98px) {
  .appstore .tab-content .content--inside .content--single p {
    font-size: 1rem;
  }
}

.appstore .tab-content .content--details .content--single {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  text-align: center;
}

.appstore .tab-content .content--details .content--single img {
  padding: 1.5rem 2rem 1rem 2rem;
  width: 11rem;
}

@media (max-width: 575.98px) {
  .appstore .tab-content .content--details .content--single img {
    padding: 1.5rem 1rem 1rem 1rem;
    width: 9rem;
  }
}

@media (min-width: 576px) and (max-width: 767.98px) {
  .appstore .tab-content .content--details .content--single img {
    width: 10rem;
  }
}

@media (min-width: 768px) and (max-width: 991.98px) {
  .appstore .tab-content .content--details .content--single img {
    width: 10rem;
  }
}

@media (min-width: 992px) and (max-width: 1299.98px) {
  .appstore .tab-content .content--details .content--single img {
    width: 10.5rem;
  }
}

.appstore .tab-content .content--details .content--single .content--text {
  text-align: left;
}

.appstore .tab-content .content--details .content--single .content--text a {
  background-color: #68C46C;
  color: #ffffff;
  padding: 0.5rem 1.5rem;
  border-radius: .5rem;
}

.appstore .tab-content .content--details .content--img {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  text-align: center;
  padding: 1.5rem 2rem 1rem 2rem;
}

@media (max-width: 575.98px) {
  .appstore .tab-content .content--details .content--img {
    padding: 1.5rem 1rem 1rem 1rem;
  }
}

.appstore .tab-content .content--details .content--img img {
  width: 29%;
  padding-right: 1%;
}

@media (max-width: 575.98px) {
  .appstore .tab-content .content--details .content--img img {
    width: 90%;
    padding-right: 0;
  }
}

.appstore .tab-content .content--details .content--desc {
  padding: 1.5rem 2rem 1rem 2rem;
}

@media (max-width: 575.98px) {
  .appstore .tab-content .content--details .content--desc {
    padding: 1.5rem 1rem 1rem 1rem;
  }
}

.appstore .tab-content .content--details .content--desc h4, .appstore .tab-content .content--details .content--desc p {
  color: #363636;
  font-family: Arial, Helvetica, sans-serif;
  font-weight: 900;
}

.appstore .tab-content .content--details .content--desc p {
  width: 80%;
}

@media (max-width: 575.98px) {
  .appstore .tab-content .content--details .content--desc p {
    width: 100%;
  }
}

.footer {
  margin-top: 15rem;
}

.footer .footer--contents {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: normal;
      -ms-flex-align: normal;
          align-items: normal;
  min-height: 50rem;
}

@media (max-width: 575.98px) {
  .footer .footer--contents {
    min-height: auto;
  }
}

.footer .footer--contents .footer--img {
  width: 25%;
}

@media (max-width: 575.98px) {
  .footer .footer--contents .footer--img {
    display: none;
  }
}

@media (min-width: 576px) and (max-width: 767.98px) {
  .footer .footer--contents .footer--img {
    width: 30%;
  }
}

@media (min-width: 768px) and (max-width: 991.98px) {
  .footer .footer--contents .footer--img {
    width: 30%;
  }
}

@media (min-width: 992px) and (max-width: 1299.98px) {
  .footer .footer--contents .footer--img {
    width: 30%;
  }
}

.footer .footer--contents .footer--links {
  width: 35%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: normal;
      -ms-flex-align: normal;
          align-items: normal;
}

@media (max-width: 575.98px) {
  .footer .footer--contents .footer--links {
    width: 100%;
  }
}

@media (min-width: 576px) and (max-width: 767.98px) {
  .footer .footer--contents .footer--links {
    width: 60%;
  }
}

@media (min-width: 768px) and (max-width: 991.98px) {
  .footer .footer--contents .footer--links {
    width: 60%;
  }
}

@media (min-width: 992px) and (max-width: 1299.98px) {
  .footer .footer--contents .footer--links {
    width: 40%;
  }
}

.footer .footer--contents .footer--links .link--list {
  text-align: right;
}

.footer .footer--contents .footer--links .link--list ul li {
  margin-bottom: 2rem;
}

.footer .footer--contents .footer--links .link--list ul li a {
  color: #434242;
}

.footer .footer--foot {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

@media (max-width: 575.98px) {
  .footer .footer--foot {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    margin-top: 5rem;
  }
}

.footer .footer--foot h5 {
  color: #454545;
  font-family: var(--font4);
  font-weight: 500;
  font-size: 5.125rem;
}

@media (max-width: 575.98px) {
  .footer .footer--foot h5 {
    -webkit-box-ordinal-group: 3;
        -ms-flex-order: 2;
            order: 2;
  }
}

@media (max-width: 575.98px) {
  .footer .footer--foot .account--links {
    -webkit-box-ordinal-group: 2;
        -ms-flex-order: 1;
            order: 1;
  }
}

.footer .footer--foot .account--links a {
  color: #434242;
}

.footer .footer--foot .account--links span {
  font-size: 3.5rem;
  font-family: var(--font3);
}
/*# sourceMappingURL=style.css.map */