@import './variables';

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html {
    font-size: 16px;
    scroll-behavior: smooth;
    @media (max-width: 575.98px) {
        font-size: 12px;
    }
    @media (min-width: 576px) and (max-width: 767.98px){
        font-size: 12px;
    }
    @media (min-width: 768px) and (max-width: 991.98px){
        font-size: 12px;
    }
    @media (min-width: 992px) and (max-width: 1299.98px){
        font-size: 12px;
    }
    @media (min-width: 1300px) and (max-width: 1531.98px){
        font-size: 12px;
    }
    @media (min-width: 1300px) and (max-width: 1531.98px){
        font-size: 12px;
    }
}

body {
    font-family: $font1;
    background-color: $color_white;
    color: $color_liteblack;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    transition: all 0.3s ease-in-out;
}

h1,h2,h3,h4,h5,h6,p{
	margin:0;
	padding:0;
}

ul{
	margin: 0;
	padding:0;
	list-style: none;
}

a{
	margin:0;
	text-decoration: none;
}

a:hover{
	text-decoration:none;
}

a, select , input , textarea , button{
	outline: none !important;
}

.btn:focus, .btn.focus, .form-control:focus {
    outline: 0;
    box-shadow: none;
}

.btn-link:focus, .btn-link.focus {
    text-decoration: none;
}

/*fonts*/
.reg--40{
    font-size: 2.5rem;
    font-weight: 500;
}

.reg--55{
    font-size: 3.4375rem;
    font-weight: 500;
    @media (max-width: 575.98px) {
        font-size: 1.75rem;
    }
    @media (max-width: 320px) {
        font-size: 1.5rem;
    }
    @media (min-width: 321px) and (max-width: 376px) {
        font-size: 1.5rem;
    }
    @media (min-width: 992px) and (max-width: 1299.98px) {
        font-size: 3rem;
    }
}

.reg--36{
    font-size: 2.25rem;
    font-weight: 500;
}

.bold--18{
    font-family: $font2;
    font-size: 1.125rem;
    font-weight: 700;
}

.bold--22{
    font-family: $font2;
    font-size: 1.375rem;
    font-weight: 700;
    @media (max-width: 575.98px) {
        font-size: 1rem;
    }
    @media (min-width: 992px) and (max-width: 1299.98px) {
        font-size: 1rem;
    }
}

.bold--32{
    font-family: $font2;
    font-size: 2rem;
    font-weight: 700;
    @media (max-width: 575.98px) {
        font-size: 1.5rem;
    }
    @media (min-width: 992px) and (max-width: 1299.98px) {
        font-size: 1.5rem;
    }
}

.bold--34{
    font-family: $font2;
    font-size: 2.125rem;
    font-weight: 700;
    @media (max-width: 575.98px) {
        font-size: 1.4rem;
    }
    @media (min-width: 992px) and (max-width: 1299.98px) {
        font-size: 1.5rem;
    }
}

.bold--36{
    font-family: $font2;
    font-size: 2.25rem;
    font-weight: 700;
    @media (max-width: 575.98px) {
        font-size: 1.5rem;
    }
    @media (min-width: 992px) and (max-width: 1299.98px) {
        font-size: 1.5rem;
    }
}

.bold--50{
    font-family: $font2;
    font-size: 3.125rem;
    font-weight: 700;
}

.bold--40{
    font-family: $font2;
    font-size: 2.5rem;
    font-weight: 700;
    @media (max-width: 575.98px) {
        font-size: 1.5rem;
    }
}

.bold--43{
    font-family: $font2;
    font-size: 2.6875rem;
    font-weight: 700;
    @media (max-width: 575.98px) {
        font-size: 2rem;
    }
}

.bold--56{
    font-family: $font2;
    font-size: 3.5rem;
    font-weight: 700;
    @media (max-width: 575.98px) {
        font-size: 3rem;
    }
    @media (min-width: 992px) and (max-width: 1299.98px) {
        font-size: 2.5rem;
    }
}

.bold--80{
    font-family: $font2;
    font-size: 5rem;
    font-weight: 700;
    @media (max-width: 575.98px) {
        font-size: 2.5rem;
    }
    @media (min-width: 992px) and (max-width: 1299.98px) {
        font-size: 3.5rem; 
    }
    @media (max-width: 320px) {
        font-size: 2rem;
    }
}

.btn--1{
    font-family: Arial, Helvetica, sans-serif;
    font-weight: 900;
    text-decoration: none;
    cursor: pointer;
}

.c--custom {
    padding: 0 6rem;
    @media (max-width: 575.98px) {
        padding: 0 1.5rem;
    }
    @media (max-width: 320px) {
        padding: 0 1rem;
    }
    @media (min-width: 992px) and (max-width: 1299.98px) {
        padding: 0 3rem;
    }
}

.header{
    .header--nav{
        .navbar-brand{
            color: $color_liteblack;
        }
        .menu{
            justify-content: space-between;
            width: 70%;
            @media (max-width: 1299.98px) {
                width: 100%;
            }
            li{
                a{
                    color: #4D4D4D;
                    @media (min-width: 992px) and (max-width: 1299.98px) {
                        font-size: 1.2rem;
                    }
                }
                &:last-child{
                    padding: 0.1rem 2rem;
                    box-shadow: 0 0.4rem 0 0 #7FC677;
                    border: 0.125rem solid #7FC677;
                    border-radius: .5rem;
                    @media (max-width: 575.98px) {
                        width: 50%;
                        text-align: center;
                        margin: 0 auto;
                    }
                    @media (max-width: 320px) {
                        width: 65%;
                    }
                    @media (min-width: 321px) and (max-width: 376px) {
                        width: 60%;
                    }
                    @media (min-width: 576px) and (max-width: 767.98px) {
                        width: 30%;
                        text-align: center;
                        margin: 0 auto;
                    }
                    @media (min-width: 768px) and (max-width: 991.98px) {
                        width: 30%;
                        text-align: center;
                        margin: 0 auto;
                    }
                    a{
                        color: #5A5757;
                        @media (min-width: 992px) and (max-width: 1299.98px) {
                            font-size: 1rem;
                        }
                    }
                }
            }
        }
    }
}

.hero{
    .hero--content{
        @include flexCenter;
        min-height: 50rem;
        @media (max-width: 575.98px) {
            flex-direction: column;
            min-height: auto;
        }
        @media (min-width: 576px) and (max-width: 767.98px) {
            flex-direction: column;
        }
        @media (min-width: 768px) and (max-width: 991.98px) {
            flex-direction: column;
        }
        @media (min-width: 992px) and (max-width: 1299.98px) {
            min-height: 45rem;
        }
        .left{
            width: 50%;
            @media (max-width: 575.98px) {
                width: 100%;
                text-align: center;
                padding: 5rem 0;
            }
            
            @media (min-width: 576px) and (max-width: 767.98px) {
                width: 100%;
                text-align: center;
                padding: 5rem 0;
            }
            
            @media (min-width: 768px) and (max-width: 991.98px) {
                width: 100%;
                text-align: center;
                padding: 5rem 0;
            }
            h1{
                margin-bottom: 5rem;
                @media (max-width: 575.98px) {
                    margin-bottom: 3rem;
                }
            }
            a{
                color: $color_black;
                padding: 0.625rem 12rem;
                box-shadow: 0 0.9375rem 0 0 #3b3b3b;
                border: 0.3125rem solid #3b3b3b;
                // border-bottom: 20px solid #3B3B3B;
                border-radius: 1rem;
                @media (max-width: 575.98px) {
                    padding: 0.45rem 3rem;
                    box-shadow: 0 0.5rem 0 0 #3b3b3b;
                }
                @media (min-width: 992px) and (max-width: 1299.98px) {
                    padding: 0.625rem 6rem;
                }
            }
        }
        .right{
            width: 50%;
            @media (max-width: 575.98px) {
                width: 100%;
                text-align: center;
            }
            @media (min-width: 576px) and (max-width: 767.98px) {
                width: 100%;
                text-align: center;
            }
            @media (min-width: 768px) and (max-width: 991.98px) {
                width: 100%;
                text-align: center;
            }
            img{
                width: 36rem;
                @media (max-width: 575.98px) {
                    width: 80%;
                }
            }
        }
    }
}

.feature{
    margin-top: 10rem;
    .feature--card{
        padding-right: 5rem;
        border-radius: 1.75rem;
        @media (max-width: 575.98px) {
            padding-right: 3rem;
        }
    }
    .card--green{
        background-color: #A3E89B;
        .green--text{
            padding: 3.5rem 0 3.5rem 5rem;
            @media (max-width: 575.98px) {
                padding: 3.5rem 0 3.5rem 3rem;
            }
            h2, p {
                color: #377932;
            }
        }
    }
    .card--blue{
        background-color: #B2C3F2;
        .blue--text{
            padding: 1rem 0 1.5rem 5rem;
            @media (max-width: 575.98px) {
                padding: 3.5rem 0 3.5rem 3rem;
            }
            h2, p {
                color: #3268FB;
            }
        }
    }
    .card--purple{
        background-color: #D1B5F5;
        .purple--text{
            padding: 1rem 0 1.5rem 5rem;
            @media (max-width: 575.98px) {
                padding: 3.5rem 0 3.5rem 3rem;
            }
            h2, p {
                color: #9543FF;
            }
        }
    }
}

.getapps{
    margin-top: 15rem;
    @media (max-width: 991.98px) {
        margin-top: 10rem;
    }
    @media (min-width: 992px) and (max-width: 1299.98px) {
        margin-top: 12rem;
    }
    a{
        color: $color_black;
        padding: 0.625rem 4.5rem;
        box-shadow: 0 0.75rem 0 0 #3b3b3b;
        border: 0.3125rem solid #3b3b3b;
        // border-bottom: 20px solid #3B3B3B;
        border-radius: 1rem;
    }
    .getapps--left{
        padding: 0 0 7rem 7rem;
        @media (max-width: 575.98px) {
            padding: 0 0 5rem 0;
            text-align: center;
        }
        @media (min-width: 576px) and (max-width: 991.98px) {
            padding: 0 0 7rem 0;
            text-align: center;
        }
    }
    .getapps--right{
        padding-top: 10rem;
        @media (max-width: 575.98px) {
            padding-top: 1rem;
            text-align: center;
        }
        @media (min-width: 576px) and (max-width: 991.98px) {
            padding-top: 3rem;
            text-align: center;
        }
    }
    hr{
        position: relative;
        left: 0;
        right: 0;
        margin-left: auto;
        margin-right: auto;
        border-top: 2px solid #707070;
        height: 2rem;
        width: 35rem;
        transform: rotate(-30deg);
        @media (max-width: 575.98px) {
            width: 20rem;
        }
        @media (max-width: 991.98px) {
            transform: rotate(0deg);
        }
    }
}

.more{
    margin-top: 20rem;
    .feature--card{
        min-height: 45rem;
        padding: 2rem;
        border-radius: 1.75rem;
        @media (max-width: 575.98px) {
            padding: 1.5rem;
            min-height: auto;
        }
    }
    .card--purple{
        background-color: #D1B5F5;
        .purple--text{
            @media (max-width: 575.98px) {
            }
            h2, p, h3 {
                color: #9543FF;
            }
        }
    }
    .card--blue{
        background-color: #B2C3F2;
        .blue--text{
            @media (max-width: 575.98px) {
            }
            h2, p, h3 {
                color: #3268FC;
            }
        }
    }
    .card--green{
        background-color: #B0EDA9;
        .green--text{
            @media (max-width: 575.98px) {
            }
            h2, p, h3 {
                color: #165D13;
            }
        }
    }
}

.try{
    margin-top: 15rem;
    @media (max-width: 575.98px) {
        margin-top: 10rem;
    }
    .try--content{
        @include flexCenter;
        @media (max-width: 575.98px) {
            width: 100%;
            flex-direction: column;
        }
        @media (min-width: 576px) and (max-width: 767.98px) {
            width: 100%;
            flex-direction: column;
        }
        @media (min-width: 768px) and (max-width: 991.98px) {
            width: 100%;
           flex-direction: column;
        }
        .try--card{
            width: 25%;
            color: #3268FC;
            padding: 3rem 1rem;
            background-color: #E8EDFF;
            box-shadow: 0 0.75rem 0 0 #3164EA;
            border: 0.3125rem solid #3164EA;
            border-radius: 1rem;
            @media (max-width: 575.98px) {
                width: 100%;
            }
            @media (min-width: 576px) and (max-width: 767.98px) {
                width: 100%;
            }
            @media (min-width: 768px) and (max-width: 991.98px) {
                width: 100%;
            }
            h2{
                font-size: 5.5rem;
                font-weight: 900;
            }
            ul{
                li{
                    @media (min-width: 992px) and (max-width: 1299.98px) {
                        font-size: 1.5rem;
                    }
                }
            }
        }
        .try--text{
            width: 75%;
            @media (max-width: 575.98px) {
                width: 100%;
                margin-top: 3rem;
            }
            @media (min-width: 576px) and (max-width: 767.98px) {
                width: 100%;
                margin-top: 3rem;
            }
            @media (min-width: 768px) and (max-width: 991.98px) {
                width: 100%;
                margin-top: 3rem;
            }
            ul{
                @include flexCenter;
                flex-direction: column;
                li{
                    background-color: #F6D1FF;
                    padding: .5rem 1rem;
                    border-radius: 1rem;
                    -webkit-text-stroke-width: 0.0625rem;
                    -webkit-text-stroke-color: #707070;
                    @media (max-width: 575.98px) {
                        font-size: 1.5rem;
                    }
                    @media (min-width: 992px) and (max-width: 1299.98px) {
                        font-size: 1.5rem;
                    }
                    &:nth-child(odd){
                        background-color: #CEF5C9;
                    }
                }
            }
            .try--button{
                a{
                    color: $color_black;
                    padding: 0.625rem 12rem;
                    box-shadow: 0 0.75rem 0 0 #3b3b3b;
                    border: 0.3125rem solid #3b3b3b;
                    border-radius: 1rem;
                    @media (max-width: 575.98px) {
                        padding: 0.625rem 5rem;
                    }
                    @media (min-width: 992px) and (max-width: 1299.98px) {
                        font-size: 1.2rem;
                    }
                }
            }
        }
    }
}